[[redirects]]
  from = "/vless-xhttp/*"
  to = "https://52.140.66.231:443/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "no-store"
    Netlify-CDN-Cache-Control = "no-store"
