[build]
  publish = "public"

[[redirects]]
  from = "/vless-xhttp"
  to = "http://ad.sdbuild.me/vless-xhttp"
  status = 200
  force = true
  headers = {
    Host = "ad.sdbuild.me",
    X-Forwarded-Proto = "https"
  }
