[[redirects]]
  from = "/vless-xhttp*"
  to = "https://52.140.66.231:8443/:splat"
  status = 200
  force = true

[[headers]]
  for = "/vless-xhttp*"
  [headers.values]
    Cache-Control = "no-store"
    Netlify-CDN-Cache-Control = "no-store"
