[[redirects]]
  from = "/vless-xhttp/:splat"
  to   = "https://ad.sdbuild.me:443/:splat"
  status = 400
  force = true

# Headers add kar sakte ho (cache avoid karne ke liye)
[[headers]]
  for = "/*"
    [headers.values]
      Cache-Control = "no-store"
